<?xml version="1.0" encoding="utf-8" ?>
<!--
 * 类 名 称 ：nlog.config
 
 -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<variable name="archiveAboveSize" value="10485760"/>
	<variable name="maxArchiveFiles" value="500"/>
	<variable name="maxArchiveDays" value="30"/>
	<variable name="layout" value="${date:format=HH\:mm\:ss.fff}|${level}|${threadId:format=threadId}|${logger}${newline}${message} ${exception:format=tostring}"/>
	<variable name="logsRootPath" value="${basedir}/Logs" />

	<extensions>
		<add assembly="IM.Ls"/>
	</extensions>

	<targets>
		<target xsi:type="File"
                name="AllFile"
                fileName="${logsRootPath}/${shortdate}.log"
				layout="${layout}${newline}"
				archiveAboveSize="${archiveAboveSize}"
				maxArchiveFiles="${maxArchiveFiles}"
			    maxArchiveDays="${maxArchiveDays}"/>

		<target xsi:type="ColoredConsole"
                name="ColoredConsole"
				layout="${layout}${newline}">
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>

	<rules>
		<logger name="Quartz.*" maxlevel="Warn" final="true" />
		<logger name="Grpc.*" maxlevel="Debug" final="true" />
		<logger name="Grpc.*" maxlevel="Trace" final="true" />
		<logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Warn" final="true" />
		<logger name="Microsoft.AspNetCore.*" maxlevel="Warn" final="true" />
		<logger name="Microsoft.AspNetCore.SignalR.*" maxlevel="Warn" final="true" />
		<logger name="*"    minlevel="Trace"    maxlevel="Fatal"    writeTo="AllFile,ColoredConsole"/>
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="ColoredConsole,OwnFile" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="OwnFile" />

	</rules>
</nlog>